<!DOCTYPE html>
<html lang="en">

    <meta charset="utf-8">
    <title>MK217 Voice Control</title>

    <!-- Ours -->
    <link rel="stylesheet" href="../static/HAIInterface/css/styling.css">
    <script src="/static/HAIInterface/JS/checklists.js"></script>

    <body>        
        <div id="topbar" class="topbar" style="justify-content: center">
            <div class="system-title">
                MK217 Voicet<b>Control</b>
            </div>
        </div>

        <div id="center" class="center">
            <div class="main-content-container">
                <div id="title" class="general-title">Experimenter Voice Panel</div>
                <div class="control-container">
                    <div class="subcontent-container">
                        <b>Radio Control</b>
                        <div id="regular-updates" class="control-button">Regular Updates</div>
                        <div id="preflight"  class="control-button">Preflight Response</div>
                        <div id="administer" class="control-button">Administer Medication Response</div> 
                        <div id="tank" class="control-button">Empty Fuel Tank Response</div>
                        <div id="engine" class="control-button">Engine Failure Response</div>
                        <div id="radioUpdate" class="control-button">Set Radio Update complete</div>
                        <div id="userRadio" class="control-button">Set status report</div>
                        <div id="userResp" class="control-button">Set response event </div> 
                        <div id="emergency" class="control-button">Set Emergency event </div>
                        <div id="reset" class="control-button">Reset all evens </div>
                    </div>

                    <div class="subcontent-container" style="flex-grow:0">
                        <b>Jarvis Control</b>
                        <div id="activate-jarvis" class="control-button">Activate Jarvis</div>
                        <div id="deactivate-jarvis"  class="control-button">Deactivate Jarvis</div>
                        <div id="EMpage" class="control-button">Emergency Page</div>
                        <div id="CDpage" class="control-button">Change Destination Page</div>
                        <div id="CApage" class="control-button">Change Altitude Page</div>
                        <div id="RDpage" class="control-button">Return to Departure Page</div>
                        <div id="mappage" class="control-button">Open Map</div>
                    </div>
                </div>
            </div>
        </div>    
    </body>

    <script>
   
        document.getElementById("activate-jarvis").onclick = async () => {
            await fetch("/ws", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Inform the server that the request body contains JSON data
                },
                body: JSON.stringify({ type: "activate_assistant"}), 
            });
        }

        document.getElementById("deactivate-jarvis").onclick = async () => {
            await fetch("/ws", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Inform the server that the request body contains JSON data
                },
                body: JSON.stringify({ type: "deactivate_assistant"}), 
            });
        }

       /*  document.getElementById("Empage").onclick = () => { fetch( '/hai-interface/change-destination?inflight=' + 1 + '&emergency=' + 1) }
        document.getElementById("CApage").onclick = () => { window.location.href = '/hai-interface/change-destination?inflight=' + 1 }
        document.getElementById("CApage").onclick = () => { window.location.href = '/hai-interface/change-altitude?Changed_altitude='+ 10000 }
        document.getElementById('mappage').href = '/hai-interface/map' */


        document.getElementById("EMpage").onclick = async () => {
            await fetch("/var?emergency-page=1")
        }

        document.getElementById("CApage").onclick = async () => {
            await fetch("/var?ca-page=1")
        }

        document.getElementById("CDpage").onclick = async () => {
            await fetch("/var?cd-page=1")
        }

        document.getElementById("RDpage").onclick = async () => {
            await fetch("/var?rd-page=1")
        }
        
        document.getElementById("mappage").onclick = async () => {
            await fetch("/var?map-page=1")
        }

        document.getElementById('regular-updates').onclick = async () => {
            await fetch("/state", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Inform the server that the request body contains JSON data
                },
                body: JSON.stringify({ event: "inflight_event", action:"toggle"}), 
            });
        }

        document.getElementById('emergency').onclick = async () => {
            await fetch("/state", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Inform the server that the request body contains JSON data
                },
                body: JSON.stringify({ event: "emergency_event", action:"toggle"}), 
            });
        }

        document.getElementById('radioUpdate').onclick = async () => {
            await fetch("/state", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Inform the server that the request body contains JSON data
                },
                body: JSON.stringify({ event: "radioUpdateComplete", action:"toggle"}), 
            });
        }

        document.getElementById('userRadio').onclick = async () => {
            await fetch("/state", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Inform the server that the request body contains JSON data
                },
                body: JSON.stringify({ event: "status_report", action:"toggle"}), 
            });
        }

        document.getElementById('userResp').onclick = async () => {
            await fetch("/state", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Inform the server that the request body contains JSON data
                },
                body: JSON.stringify({ event: "response_event", action:"toggle"}), 
            });
        }
    
        document.getElementById('preflight').onclick = async () => {
            await fetch("/state", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Inform the server that the request body contains JSON data
                },
                body: JSON.stringify({ event: "takeoff_event", action:"toggle"}), 
            });
        }
        document.getElementById('administer').onclick = async () => {
            await fetch("/state", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Inform the server that the request body contains JSON data
                },
                body: JSON.stringify({ event: "administer_event", action:"toggle"}), 
            });
        }
        document.getElementById('tank').onclick = async () => {
            await fetch("/state", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Inform the server that the request body contains JSON data
                },
                body: JSON.stringify({ event: "tank_event", action:"toggle"}), 
            });
        }
        document.getElementById('engine').onclick = async () => {
            await fetch("/state", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Inform the server that the request body contains JSON data
                },
                body: JSON.stringify({ event: "engine_event", action:"toggle"}), 
            });
        }
        document.getElementById('reset').onclick = async () => {
            await fetch("/state", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Inform the server that the request body contains JSON data
                },
                body: JSON.stringify({ event: "reset", action:"toggle"}), 
            });
        }



        setInterval(async () => {
            let vars = await fetch("/var").then((resp) => {return resp.json()})
            for (let key in vars) {
                // only change if the var maps to a div (prevents element not found errors)
                if (document.getElementById(key)) {
                    document.getElementById(key).innerHTML = vars[key]
                }
            }
        }, 500)

    </script>

</html>     
