/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    user-select: none;
}

div, button {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

html {
    display: block;
}

body {
    display: flex;
    color: black;
    background-color: peachpuff;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* visual frame */
div.main-pane {
    width: 95%;
    height: 90%;
    justify-content: center;
    flex-direction: row;
    border: 2px solid lightgrey;
    border-radius: 7px;
}

/* vertical container */
div.vertical-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* title pane */
div.title-pane {
    justify-content: center;
    font-size: 4.5vh;
    background-color: #b9deff;
    border-radius: 5px 5px 0px 0px;
}

/* horizontal container */
div.horizontal-container {
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* menu pane */
div.menu-pane {
    flex: 1; 
    flex-direction: column;
    justify-content: center;
    background-color: #fff5ec;
    border: 4px solid #b9deff;
    border-radius: 0px 0px 0px 5px;
}

/* action pane */
div.action-pane {
    flex: 1.5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ecedff;
    border: 4px solid #b9deff;
    border-radius: 0px 0px 5px 0px;
}

/* action text */
div.action-text {
    justify-content: center;
    align-items: center;
    font-size: 4.5vh;
    margin: 0 15% 0 15%;
    border-bottom: 10px solid;
    border-radius: 5px;
}

/* menu buttons */
button {
    display: block;
    margin: 2vh 3vh 2vh 3vh;
    height: 7vh;
    font-size: 3vh;
    border-radius: 10px;
}

button.action-button {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0;
}

button.menu {
    background-color: #b9bbff;
}

button.submit {
    background-color: blanchedalmond;
}

div.button-loading-bar {
    height: .5vh;
    background-color: #0062b9;
    width: 0%;
    border-radius: 5px;
}

div.button-text {
    margin: 0vh 3vh 0vh 3vh;
    padding-bottom: .8vh;
}

div.keypad-container {
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    width: 80%;
    flex-direction: column
}

div.keypad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button.keypad-key {
    width: 14vh;
    height: 14vh;
    background-color: #c9b9ff;
    margin: .5vh;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-size: 50pt;
    font-weight: bolder;
}

div.keypad-value {
    text-align: center;
    font-size: 50pt;
    font-weight: bolder;
}


body {
    height: 100vh;
    font-family: Arial;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
    text-align: center;
    }
    .gauge-container {
            display: grid;
            flex-direction: rows;
            grid-template-rows: 75px 225px 225px 225px;
            place-content: center;
            grid-gap: 10px;
            margin: 0 auto;
           padding: 20px 15px 15px;


    }
    .gauge-wrapper {
    display: grid;
    place-content: center;
    width: auto;
    margin: 0 auto;
    padding: 15px 20px 20px;
    }

    .gauge {
    background: #e7e7e7;
    box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 100px;
    border-radius: 100px 100px 0 0 !important;
    position: relative;
    overflow: hidden;
    }
    .gauge.min-scaled {
    transform: scale(0.5);
    }

    .gauge-center {
    content: "";
    color: #fff;
    width: 60%;
    height: 60%;
    background: #15222e;
    border-radius: 100px 100px 0 0 !important;
    position: absolute;
    box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
    right: 21%;
    bottom: 0;
    color: #fff;
    z-index: 10;
    display: grid;
    flex-direction: rows;
    grid-template-rows: 50%, 50%;
    place-content: center;
    grid-gap: 3px;
    }

    .gauge-center .label,
    .gauge-center .number {
    width: 100%;
    text-align: center;
    border: 0 !important;
    }
    .gauge-center .label {
    font-size: 0.80em;
    opacity: 0.6;
    /* margin: 3.2em 0 0.8em 1.3em; */
    }
    .gauge-center .number {
    font-size: 1.0em;
    /* margin-right: 3.3em;
    margin-bottom: 0.3em; */
    }

    .needle {
    width: 80px;
    height: 7px;
    background: #15222e;
    border-bottom-left-radius: 100% !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 100% !important;
    border-top-right-radius: 5px !important;
    position: absolute;
    bottom: -2px;
    left: 20px;
    transform-origin: 100% 4px;
    transform: rotate(0deg);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
    display: none;
    z-index: 9;
    }

    .four.gauge1 .needle {
    animation: fourspeed1 2s 1 both;
    animation-delay: 1s;
    display: block;
    }
    .four.gauge2 .needle {
    animation: fourspeed2 2s 1 both;
    animation-delay: 1s;
    display: block;
    }
    .four.gauge3 .needle {
    animation: fourspeed3 2s 1 both;
    animation-delay: 1s;
    display: block;
    }
    .four.gauge4 .needle {
    animation: fourspeed4 2s 1 both;
    animation-delay: 1s;
    display: block;
    }

    .slice-colors {
    height: 100%;
    }

    .slice-colors .st {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    }

    .four .slice-colors .st.slice-item:nth-child(2) {
    border-top: 50px #f1c40f solid;
    border-right: 50px #f1c40f solid;
    background-color: #1eaa59;
    }

    .four .slice-colors .st.slice-item:nth-child(4) {
    left: 50%;
    border-bottom: 50px #e84c3d solid;
    border-right: 50px #e84c3d solid;
    background-color: #e67e22;
    }

    @-webkit-keyframes fourspeed1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(16deg);
    }
    }

    @-webkit-keyframes fourspeed2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(65deg);
    }
    }

    @-webkit-keyframes fourspeed3 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(115deg);
    }
    }

    @-webkit-keyframes fourspeed4 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(164deg);
    }
    } 