{% extends "HAIInterface/layout.html" %}

<body>
{% block content %}

<style>
 .input-container {
  display: inline-flex;
  align-items: center; 
}

/* drop-down box */
.altitudeDropdown {
  flex: 1; 
  /* padding: 10px; 
  margin-left: 10px; 
 font-size: 16px;  */
  background-color: rgb(236, 168, 245);
  border: 1px solid #ccc; 
  font-size: 30px;
  margin-bottom: 2vh;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
  width: 20vw;
  align-self: center;
  text-align: center;
}

</style>




<div id="main" class="main-content-container">
    <div id ='title' class="general-title">Altitude</div>
    <div class="subcontent-container" style="flex-grow: 1; justify-content: space-evenly;">
        <!-- <div class="general-text" id="current-altitude" >Current Altitude:</div> -->
        <div class="input-container" >
            <label for=" altChange:" class="general-text">Change altitute to:  &nbsp; &nbsp;  </label>
            <select id="altitude" class="altitudeDropdown" >
                <option value="" selected disabled>select altitude</option>
                <option value="1000">1000</option>
                <option value="1100">1100</option>
                <option value="1200">1200</option>
                <option value="1300">1300</option>
                <option value="1400">1400</option>
                <option value="1500">1500</option>
              </select>
        </div>
        <br><br>
        <!-- <input class="button" type="submit" value="Change"> -->
        <div class="button" id="change-button" >Change</div>
    </div>
</div>


{% endblock %}
</body>

<script>
{% block script %}
    const socket = io.connect("http://localhost:8080");
    var HelpId=4;
    document.getElementById('help').onclick = () => { log({"page": "Change altitude", "action": "help button pressed"}); window.location.href = '/hai-interface/help?num=' + HelpId }
   // Get current altitude. 
    //document.getElementById('current-altitude').innerHTML=current_altitude
    document.getElementById('help').href='/hai-interface/help?num='+HelpId
    document.getElementById('map').href = '/hai-interface/map'
    document.getElementById('cruise-sidebar').style.backgroundColor = "pink"


    // Change altitude when "change" button clicked
    document.getElementById("change-button").onclick = () => {
        console.log('Clicked')
        const selectedValue = document.getElementById('altitude').value
        console.log(selectedValue)
        if (selectedValue == "") {
            const dialog = document.createElement('dialog');
            dialog.innerHTML = `
            <p>Altitude not selected </p>
            <button onclick="this.closest('dialog').close()">CLOSE</button>
            `;
            document.body.appendChild(dialog);
            dialog.showModal();
        } else {
            console.log(selectedValue)
            log({"page": "change-altitude", "action": "altitude changed by participant" + selectedValue })
            //alert("Altitude successfully changed to:"+ selectedValue)
            const dialog = document.createElement('dialog');
            dialog.innerHTML = `
            <p>Altitude successfully changed to ${selectedValue} feet</p>
            <br>
            <centre><button onclick="this.closest('dialog').close()">OK</button></centre>
            `;
            document.body.appendChild(dialog);
            dialog.showModal();
            fetch("/var?change-altitude"+ selectedValue)
            fetch("/var?vitals-state=" + 0)  //removing vitals emergency
            
            setTimeout(() => {
                window.location.href ='/hai-interface/inflight?change-altitude=' +  selectedValue;
            }, 1500) 
            
            }
        }
        
        // Listen for altitude updates from control panel
        socket.on("update_altitude", (data) => {
            console.log("Altitude update received from controller:", data.altitude);
            log({"page": "change-altitude", "action": "altitude changed by controller" + data.altitude })
            //alert("Altitude successfully changed to:"+ selectedValue)
            const dialog = document.createElement('dialog');
            dialog.innerHTML = `
            <p>Altitude successfully changed to ${data.altitude} feet</p>
            <br>
            <centre><button onclick="this.closest('dialog').close()">OK</button></centre>
            `;
            document.body.appendChild(dialog);
            dialog.showModal();
            fetch("/var?change-altitude"+ data.altitude)
            fetch("/var?vitals-state=" + 0)  //removing vitals emergency
            
            setTimeout(() => {
                window.location.href ='/hai-interface/inflight?change-altitude=' +  data.altitude;
            }, 1500) 
            
        });
    

    
   

{% endblock %}
</script>
