<!DOCTYPE html>
<html lang="en">

    <meta charset="utf-8">
    <title>MK217 FlightAssist</title>

	<!-- Leaflet CSS and JS -->
	<link rel="stylesheet" href="/static/HAIInterface/leaflet/leaflet.css"/>
	<script src="/static/HAIInterface/leaflet/leaflet.js"></script>
	<script src="/static/HAIInterface/leaflet/leaflet.rotatedMarker.min.js"></script>
	<script src="/static/HAIInterface/leaflet/leaflet-providers.js"></script>
    <script src="/static/HAIInterface/leaflet/Leaflet.Marker.SlideTo.js"></script>
	
    <!-- Ours -->
    <link rel="stylesheet" href="../static/HAIInterface/css/styling.css">
    <script src="/static/HAIInterface/JS/checklists.js"></script>
    <script src="/static/HAIInterface/JS/map.js"></script>
    <script src="/static/HAIInterface/JS/log.js"></script>
    <script src="/static/HAIInterface/JS/emergency.js"></script>
    <script src="/static/HAIInterface/JS/assistant.js"></script>

    {% block imports %}
    {% endblock %}
    
    <style>
        {% block styling %}
        {% endblock %}        
    </style>

    <!--based on where we are in flight show the nearest/fastest helipad, nearest helipad with hospital facility, AI chooses. 
    Even if the human chooses evaluate the cognitive state to evaluate if their decision should be trusted --Carmen-->
    <body>        
        <div id="topbar" class="topbar">
            <div class="sidenav" onclick="hideMap()">
                <div class="sidenav-item-container">
                    <div id="preflight-sidebar" class="sidenav-item" style="border-left: 0;"><img src="../static/HAIInterface/img/PreFlight.png" width="60" height="60"><div>Preflight</div></div>
                    <div id="takeoff-sidebar" class="sidenav-item"><img src="../static/HAIInterface/img/TakeOff.png" width="60" height="60"><div>Takeoff</div></div>
                    <div id="cruise-sidebar" class="sidenav-item"><img src="../static/HAIInterface/img/CR.png" width="60" height="60"><div>Cruise</div></div>
                    <div id="approach-sidebar" class="sidenav-item"><img src="../static/HAIInterface/img/Approaching.png" width="60" height="60"><div>Approach</div></div>
                    <div id="landing-sidebar" class="sidenav-item" style="border-right: 0; border-radius:0 0 28px 0"><img src="../static/HAIInterface/img/Landing.png" width="60" height="60"><div>Land</div></div>
                </div>
            </div>

            <div class="system-title">
                MK217 Flight<b>Assist</b>
            </div>

            <div class="topnav">
                <div class="topnav-item" id='map' name='map' style="border-radius: 0px 0px 0px 30px;" onclick="showMap()">Map</div>
                <div class="topnav-item" id='help' name='help' >Help</div>
            </div>
        </div>
        
       <!-- Voice Assistant -->
       <div class="assistant-overlay">
        <div class="user-text-box" id="userTextBox" style="display: none;" >User Text Will Appear Here</div>
      </div>
     
      <div class="voice-assistant" id="assistant" style="display: none;" ></div>
     
        <div id="center" class="center">
            {% block content %}
        
            {% endblock %}
        </div>    
    
        <div id="map-container" class="map-container" style="position:absolute">
            <!-- flightmap -->
            <div id="flightmap" class="flightmap"></div>
            <!-- central flash information -->
            <div id="flightmap-instruction" class="flightmap-instruction"><div>DOUBLE CLICK A HELIPAD TO SET THE DESTINATION</div></div>
            <!-- scroll instruction -->
            <div id="flightmap-scroll-instruction" class="map-scroll-instruction"><div>ZOOM USING<br>TWO FINGERS</div></div>
            <!-- Time to destination-->
            <div  id="dest-time" class="time"></div>
            <!-- bottom information bar -->
            <div id="bottom-nav" class="bottom-nav" onclick="hideMap()">
                <img id="bottom-nav-indicator" class="bottom-nav-indicator">
                <div class="bottom-nav-info-container">
                    <div class="bottom-nav-info">
                        <img class="bottom-nav-icon" src="../static/HAIInterface/img/helipad-icon.png">&ensp;
                        <div id="bottom-nav-name" style="font-weight: bold"></div>
                    </div>
                    <div class="bottom-nav-info">
                        <img class="bottom-nav-icon" src="../static/HAIInterface/img/location-icon.png">&ensp;
                        <div id="bottom-nav-address"></div>
                    </div>
                    <div class="bottom-nav-info">
                        <img class="bottom-nav-icon" src="../static/HAIInterface/img/institution-icon.png">&ensp;
                        <div id="bottom-nav-type"></div>
                        <div style="flex-grow: 1;"></div>
                        <div id="bottom-nav-nearest-heliport" class="bottom-nav-current-destination" style="background-color: seagreen">
                            NEAREST
                        </div>
                        <div id="bottom-nav-current-destination" class="bottom-nav-current-destination">
                            DESTINATION
                        </div>
                        <div id="bottom-nav-departure-heliport" class="bottom-nav-current-destination" style="background-color: lightcoral">
                            ORIGIN
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id= "vitals" style="display:none;" class="main-content-container vitals-popup">
            <div class="general-title" style="background-color: palegoldenrod;">Vitals Logging</div>
            <div class="subcontent-container">
                <div></div>
                <div class="index-text" style="font-size: 25pt;">Please log patient vitals now</div>
                <div class="index-text" style="font-size: 20pt;">Hit acknowledge AFTER you have submitted the vitals</div>&ensp;
                <div id="vitals-acknowledge-button" class="button">ACKNOWLEDGE</div>
            </div>
        </div>

        <div id="emergency" style="display:none; justify-content: space-between;"class="main-content-container vitals-popup">
            <img id='img_icon' src="../static/HAIInterface/img/alert.gif" width="150" height="150">
            <div class="index-text emergency-text" id="blink" style="color: red; background-color: rgb(223, 154, 94);">UNFAVORABLE WEATHER CONDITIONS</div><br>
            <div class="index-text emergency-text" style="color: white;">MUST LAND IMMEDIATELY</div>
            <div></div>
            <div class="index-text emergency-text" style="color: whitesmoke;">Continue to select an emergency location</div>
            <div></div>
            <div id="emergency-acknowledge-button" class="button">CONTINUE</div>
        </div>

        <!-- Radio Comms  -->
        <div id="radiopanel"  class="radiopanel">
            <button class="radiopanel-closebtn" >&times;</button>
                <h2>Radio Communication</h2>
                <label for="callsign">Callsign:</label>
                <select id="callsign">
                    <option value="" disabled selected>Select Callsign</option>
                    <option value="NASXGS">NASXGS</option>
                    <option value="MEDEVAC">MEDEVAC</option>
                </select>
                <br><br>
                <div class="radio-group">
                    <p>Select Radio:</p>
                    <div class="radio-options">
                        <label>
                            <input type="radio" name="radio-select" value="Nav1">
                            <span>NAV1</span>
                        </label>
                        <label>
                            <input type="radio" name="radio-select" value="Nav2">
                            <span>NAV2</span>
                        </label>
                        <label>
                            <input type="radio" name="radio-select" value="Comm1">
                            <span>COMM1</span>
                        </label>
                        <label>
                            <input type="radio" name="radio-select" value="Comm2">
                            <span>COMM2</span>
                        </label>
                    </div>
                </div>
                <label for="frequency-input">Frequency:</label>
                <div class="frequency-control">
                    <button class="frequency-btn" onclick="changeFrequency(-0.05)">-</button>
                    <input type="text" id="frequency-display" value="123.45" readonly>
                    <button class="frequency-btn" onclick="changeFrequency(0.05)">+</button>
                </div>
                <br><br>

                <div class="controls">
                    <button onclick="transmit()" class="transmit-btn">Transmit COMM1</button>
                    <button onclick="receive()" class="receive-btn">Transmit COMM2</button>
                </div>


        </div>
     
        <button class="openbtn" ></button> 

        <!-- Pressure Warning  -->
        <div class="alertoverlay" id="pressureWarningalertOverlay">
            <div class="alert-box" id="pressureWarningalertBox"> 
              <div class="engine-failure" id="warningText">Low Pressure Warning!</div>
              <div class="warning-signn">
                <img src="../static/HAIInterface/img/warning-sign.png" class="siren-gif" alt="warning-sign">
              </div>
              <button class="alert-button" id="pressureWarningmoreInfoButton" onclick="showInfo()">Click for more info</button>
              <div id="pressureWarningalertExplanation" style="display: none;">
                <p>Report the value shown by the secondary hydraulic  sensor:</p>
                <div id="resultMessage" style="display: none;"></div>
                <!-- <div class="input-box"> -->
                  <select id="pressureValue" class="input-field" >
                    <option value="" selected disabled>select pressure value</option>
                    <option value="71">71</option>
                    <option value="72">72</option>
                    <option value="73">73</option>
                    <option value="74">74</option>
                    <option value="75">75</option>
                    <option value="76">76</option>
                    <option value="77">77</option>
                    <option value="78">78</option>
                    <option value="79">79</option>
                    <option value="80">80</option>
                  </select>
                <!-- </div> -->
                 <br><br>
                <button class="submit-button" onclick="submitPressureValue()">Submit</button>
              </div>
              <div id="finalMessage" style="display: none;"></div>
              <button class="ok-button" id="okButton" style="display: none;" onclick="closePressureAlert()">OK</button>
            </div>
             <audio id="warningSound" >
                <source src="../static/HAIInterface/img/warning-sound.mp3" type="audio/mpeg">
             </audio> 
          </div>

       
       <!-- Engine Failure Emergency    -->  
       <div class="alertbody">
        <div class="alertoverlay" id="alertOverlay">
           <div class="alert-box" id="alertBox">
             <div class="engine-failure" id="engineFailureText"> Engine Failure!</div>
             <div class="warning-sign">
                <img src="../static/HAIInterface/img/siren.gif" class="siren-gif" alt="Siren">
             </div>
             <button class="alert-button" id="moreInfoButton" onclick="showMoreInfo()">Click for more info</button>
             <!-- <button class="close-button" id="closeButton" onclick="closeAlert()">X</button> -->
             <div id="alertExplanation" style="display: none;">
                 <ul style="list-style-type:circle; padding: 15px; text-align: justify; ">
                    <li><b>Alert:</b> Engine failure detected. This is not a drill.</li>
                     <li><b>Action Required:</b> Initiating emergency procedures now.</li> 
                     <li><b>Immediate Task:</b> We need to select an alternate landing site.</li>
                      <li><b>Your Input Needed: </b>Use the button below to choose an emergency landing location.</li> 
                      <li><b>Recommendation: </b>I suggest landing at Hilton Gardern Inn Heliport, the nearest available site.</li> 
                      <li><b>Map Guide:</b> Look for the green marker on the map - that's our closest option.</li> 
                      <li><b>Additional Support:</b> Ground assistance is available if you deem it necessary.</li> 
                      <li><b>Time Sensitive:</b> Swift action is crucial for our safety.</li>
                 </ul>

            </div>
            <button class="submit-button" style="display: none;" id="CDButton">Emergency Landing</button>
          </div>
        </div>        
       <audio id="sirenSound" >
           <source src="../static/HAIInterface/img/audio.mp3" type="audio/mpeg">
        </audio> 
       </div>
        
            


       <!-- Fuel Tank Emergency    -->
       <div class="alertbody">
         <div class="alertoverlay" id="fuelAlertOverlay">
            <div class="alert-box" id="fuelAlertBox">
              <div class="engine-failure" id="emptyTankText"> Fuel Tank Empty</div>
              <div class="warning-sign">
                <img src="../static/HAIInterface/img/empty-tank.png" class="siren-gif" alt="empty-tank"> 
              </div>
              <button class="alert-button" id="fuelInfoButton" onclick="showFuelInfo()">Click for more info</button>
              <div id="fuelAlertExplanation" style="display: none;">
                <ul style="list-style-type:circle; padding: 15px; text-align: justify; ">
                    <li><b>Fuel Gauge Alert:</b> My primary fuel gauge is indicating an empty tank. </li>
                    <li><b>Gauge Reliability:</b> There's a high probability this reading is inaccurate.</li>
                    <li><b>Confidence Level: </b>I am 95% certain we have sufficient fuel on board.</li>
                    <li><b>Safety Assessment:</b> Based on my calculations, it is safe to continue our flight.</li>
                    <li><b>Backup Systems:</b> A reserve fuel tank is available if needed.</li>
                    <li><b>Current Plan:</b> I intend to maintain our planned route and destination unless requested otherwise.</li> 
                    <button class="ok-button" id="okButtonFuel" style="display: none;">Continue as planned</button>
                    <li style="max-width:max-content"><b>Alternate Options:</b></li>  
                 </ul>
                    <button class="ok-button" id="elButtonFuel" >Change Destination</button>&ensp;&ensp;
                    <button class="ok-button" id="groundButtonFuel" >Seek ground support</button> 
              
               </div>
              
            </div>
           
         </div>        
        <audio id="emptytankSound" >
            <source src="../static/HAIInterface/img/audio.mp3" type="audio/mpeg">
         </audio> 
        </div>
            
    </body>

    <script>
        var userId = "none"
        var studyStage = -1
        var decisionState = 0
        var vitalsState = 0
        var airspaceState = 0
        var destinationIndex = 3 //Emory University 
        var departureIndex = -1
        var latitude = 33.6595539 //Miller Farm 
        var longitude = -84.6629889
        var compass = 0
        var resetUserDisplay = 0
        var satisfied = false
        var warningSatisfied = false
        var destChanged = false
        var timeToDestination=11.0
        var selectedmarker="none"
        var emergencyPage=0
        var CAPage=0
        var CDPage=0
        var RDPage=0
        var mapPage=0
        

        // this var isn't updated by the server, but can be changed on various pages
        let emergencyState = 0
        let targetIndex = -1
        let EngineFailure = 0
        let PressureWarning = 0
        let EmptyTank = 0
        var radioTransmit=0
        var radioReceive=0
        var takeOffMatlab=0
        var approachClearMatlab=0

        

        // initialize the map
	    var planeMarker, map, mapSelection
        var setDestination = false;
	    initMap()

        initEmergency()
        TimeToDestination() 
        initAssistant()

        
        var helipads = JSON.parse('{{ helipads | tojson | safe }}')
        let helipadsLoaded = false  // flag automatically set to true (so helipads only load once, after we know where the origin and current destination are)
        let currentFrequency = 123.45;

        document.querySelector('.openbtn').addEventListener('click', function() {
            log({"action": "radio panel opened"})
            console.log('clicked')
            document.querySelector('.radiopanel').classList.toggle('open');
            });

        document.querySelector('.radiopanel-closebtn').addEventListener('click', function() {
            log({"action": "radio panel closed"})
            document.querySelector('.radiopanel').classList.remove('open');
            });


        function changeFrequency(step) {
            const frequencyDisplay = document.getElementById('frequency-display');
            let currentFrequency = parseFloat(frequencyDisplay.value);
            currentFrequency += step;
            currentFrequency = Math.max(118.00, Math.min(121.95, currentFrequency));  // Ensure frequency stays within valid range (118.00 to 121.95)
            frequencyDisplay.value = currentFrequency.toFixed(2);
            log({"action": "frequency input set to"+ currentFrequency })
        }
        

        function transmit() {
            const callsign = document.getElementById('callsign').value;
            log({"action": "transmit button pressed"})
            log({"action": `callsign set to: + ${callsign}`})

            if(callsign!="NASXGS"){
                // alert('Select correct Callsign for transmitting ')
                const dialog = document.createElement('dialog');
                    dialog.innerHTML = `
                    <p>Select correct Callsign for transmitting updates</p>
                    <button onclick="this.closest('dialog').close()">OK</button>
                    `;
                    document.body.appendChild(dialog);
                    dialog.showModal();
            }
            else{
                const Frequency = document.getElementById('frequency-display').value
                if(!Frequency){
                    // alert("Set Frequency")
                    const dialog = document.createElement('dialog');
                    dialog.innerHTML = `
                    <p>Set Frequency</p>
                    <button onclick="this.closest('dialog').close()">OK</button>
                    `;
                    document.body.appendChild(dialog);
                    dialog.showModal();
                    
                }
                else{
                const radio = document.querySelector('input[name="radio-select"]:checked');
                if (radio.value== "Comm1") {
                    log({"action": "radio set to:"+ radio.value})
                    showMap()
                    //alert(`${callsign} transmitting on ${radio.value} ${currentFrequency.toFixed(2)} MHz`);
                    const dialog = document.createElement('dialog');
                    dialog.innerHTML = `
                    <p>${callsign} transmitting updates on ${radio.value} ${currentFrequency.toFixed(2)} MHz</p>
                    <button onclick="this.closest('dialog').close() ,  hideMap()">Close</button>
                    `;
                    document.body.appendChild(dialog);
                    dialog.showModal();
                    radioTransmit=1
                    fetch("/var?transmit=" + radioTransmit) 
                    log({"action": callsign+"transmitting updates on" + radio.value + (currentFrequency.toFixed(2))+" MHz" })
                } 
                else {
                    //alert('Select a radio channel');
                    const dialog = document.createElement('dialog');
                    dialog.innerHTML = `
                    <p>Select a radio channel for transmitting updates</p>
                    <button onclick="this.closest('dialog').close()">OK</button>
                    `;
                    document.body.appendChild(dialog);
                    dialog.showModal();
                }
                }
          } if (radioTransmit==1){
                setTimeout(() => {
                 radioTransmit=0
                 fetch("/var?transmit=" + radioTransmit) 
                }, 45000)  // wait 45 seconds to set is back to 0
            }
        }


        function receive() {
            const callsign = document.getElementById('callsign').value;
            log({"action": "receive button pressed"})
            log({"action": "callsign set to:"+{callsign}})

            if(callsign!="MEDEVAC"){
                //alert('Select receiving callsign')
                const dialog = document.createElement('dialog');
                    dialog.innerHTML = `
                    <p>Select correct Callsign for contacting ground</p>
                    <button onclick="this.closest('dialog').close()">OK</button>
                    `;
                    document.body.appendChild(dialog);
                    dialog.showModal();
            }
            else{
                const Frequency = document.getElementById('frequency-display').value
                if(!Frequency){
                    //alert("Set Frequency")
                    const dialog = document.createElement('dialog');
                    dialog.innerHTML = `
                    <p>Set Frequency</p>
                    <button onclick="this.closest('dialog').close()">OK</button>
                    `;
                    document.body.appendChild(dialog);
                    dialog.showModal();
                }
                else{
                    const radio = document.querySelector('input[name="radio-select"]:checked');
                    if (radio.value== "Comm2") {
                        log({"action": "radio set to:"+ radio.value})
                        //alert(`${callsign} receiving on ${radio.value} ${currentFrequency.toFixed(2)} MHz`);
                        const dialog = document.createElement('dialog');
                        dialog.innerHTML = `
                        <p>${callsign} contacting ground on ${radio.value} ${currentFrequency.toFixed(2)} MHz</p>
                        <button onclick="this.closest('dialog').close()">Close</button>
                        `;
                        document.body.appendChild(dialog);
                        dialog.showModal();
                        radioReceive=1
                        fetch("/var?receive=" + radioReceive) 
                        log({"action": callsign+"transmitting on" + radio.value + (currentFrequency.toFixed(2))+" MHz" })
                } 
                else {
                    // alert('Radio channel for Receiving missing or incorrect');  
                    const dialog = document.createElement('dialog');
                    dialog.innerHTML = `
                    <p>'Radio channel for contacting ground missing or incorrect'</p>
                    <button onclick="this.closest('dialog').close()">OK</button>
                    `;
                    document.body.appendChild(dialog);
                    dialog.showModal();
                }
                }
          }
          if (radioReceive==1){
                setTimeout(() => {
                    radioReceive=0
                 fetch("/var?receive=" + radioReceive) 
                }, 30000)  // wait 30 seconds to set is back to 0
            }

            if (radioTransmit==1){
                setTimeout(() => {
                    radioTransmit=0
                 fetch("/var?transmit=" + radioTransmit) 
                }, 15000)  // wait 15 seconds to set is back to 0
            }
        }

        //updateFrequencyDisplay();
       

        {% block script %}
        {% endblock %}
    </script>

</html>     
